version: '3.9'

services:
  employee-api:
    build:
      context: .
      dockerfile: ./Dockerfile
      target: build
    environment:
      JDBC_URL : jdbc:h2:mem:testdb
      API_USERNAME: username
      API_PASSWORD: password
    command: ["sh","-c","cd /workspace/app && ./mvnw spring-boot:run"]
    ports:
      - "8080:8080"